* {
  box-sizing: border-box;
  border: 1px solid red;
  font-family: helvetica;
}

/* header styles */
header {
  display: flex;
}

h1 {
  width: 20%;
  display: flex;
  justify-content: end;
  padding-right: 10px;
}

/* subtitle styles here */
.subtitle {
  display: flex;
  justify-content: end;
  padding: 35px 25px 10px 0px;
  font-size: 150%;
  font-weight: bold;
  background-image: url(https://cdn2.vectorstock.com/i/1000x1000/03/86/blue-background-with-stars-vector-4790386.jpg);
}

.subtitle p {
  background-color: aqua;
  padding: 10px;
}

/* nav styles */

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 35%;
  padding: 10px;
}

nav ul li {
  display: flex;
  display: inline;
}

/* aside styles here */
aside {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
