* {
  box-sizing: border-box;
  border: 1px solid red;
  font-family: helvetica;
}

/* header styles */
header {
  display: flex;
}

/* subtitle styles here */
.subtitle {
  display: flex;
  justify-content: end;
  padding: 35px 25px 10px 0px;
}

/* nav styles */

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 35%;
  padding: 10px;
}

nav ul li {
  display: flex;
  display: inline;
}
